In [26]:
import pandas as pd
import numpy as np
import os
path=r"C:\Users\rchukka\Desktop\Rajesh\MachineHack"
os.chdir(path)

In [75]:
# Load train and Test set
train = pd.read_csv("./train_data.csv")
test = pd.read_csv("./test_data.csv")

In [76]:
# Combining traing and testing Datasets
ntrain = train.shape[0]
ntest = test.shape[0]
y_train = train.price.values
all_data = pd.concat((train, test)).reset_index(drop=True)
all_data.drop(['price'], axis=1, inplace=True)
print("Train data size is : {}".format(train.shape))
print("Test data size is : {}".format(test.shape))
print("Combined dataset size is : {}".format(all_data.shape))
all_data.head()

Train data size is : (13320, 9)
Test data size is : (1480, 9)
Combined dataset size is : (14800, 8)

,area_type,availability,location,size,society,total_sqft,bath,balcony
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0

In [77]:
#Deleting rows 
#all_data.dropna(inplace=True)
#all_data.isnull().sum()

In [78]:
#Rreplacing with Mean/Median/Mode
all_data.head()
print("Total null values in total_sqft col",all_data['total_sqft'].isnull().sum())
print("Total null values in bath col",all_data['bath'].isnull().sum())
print("Total null values in balcony col",all_data['balcony'].isnull().sum())

Total null values in total_sqft col 0
Total null values in bath col 80
Total null values in balcony col 678

In [79]:
all_data['bath'].replace(np.NaN,round(all_data['bath'].mean())).head(14800)
#all_data['bath'].replace(np.NaN,all_data['bath'].mode()).head(20)
#all_data['bath'].replace(np.NaN,all_data['bath'].median()).head(20)
#all_data['balcony'].replace(np.NaN,round(all_data['balcony'].mean()).head()
#all_data['balcony'].replace(np.NaN,all_data['balcony'].median()).head(14800)
all_data['balcony'].replace(np.NaN,all_data['balcony'].mode()).head(20)

0     1.0
1     3.0
2     3.0
3     1.0
4     1.0
5     1.0
6     NaN
7     NaN
8     1.0
9     NaN
10    2.0
11    3.0
12    1.0
13    2.0
14    2.0
15    2.0
16    2.0
17    3.0
18    2.0
19    2.0
Name: balcony, dtype: float64

In [86]:
#predecting balcony missing values using LineraRegression model
from sklearn.linear_model import LinearRegression,LassoCV, Ridge, LassoLarsCV,ElasticNetCV
all_data.head()
try:
    data_with_null=all_data[['total_sqft','bath','balcony']].dropna()
    data_without_null=data_with_null.dropna()
    train_data_x=data_without_null.iloc[:,:2]
    train_data_y=data_without_null.iloc[:,2]
    test_data=data_with_null.iloc[:,:2]
    LinearRegression().fit(train_data_x,train_data_y)
    balcony_predected=pd.DataFrame(LinearRegression.predect(test_data))
except ValueError:
    pass

In [81]:
test_data

        total_sqft  bath
0             1056   2.0
1             2600   5.0
2             1440   2.0
3             1521   3.0
4             1200   2.0
5             1170   2.0
8             1310   3.0
10            1800   2.0
11            2785   5.0
12            1000   2.0
13            1100   2.0
14            2250   3.0
15            1175   2.0
16            1180   3.0
17            1540   3.0
18            2770   4.0
19            1100   2.0
20             600   1.0
21            1755   3.0
22            2800   5.0
23            1767   3.0
24             510   1.0
25            1250   3.0
26             660   1.0
27            1610   3.0
28            1151   2.0
29            1025   2.0
30     2100 - 2850   4.0
31            1075   2.0
32            1760   2.0
...            ...   ...
14765         1180   2.0
14766         1400   2.0
14767         2495   4.0
14768         1800   2.0
14769         1204   2.0
14770         1105   2.0
14771         5149   2.0
14772         1199   2.0
14773         1400   2.0
14774         1079   2.0
14775         1275   3.0
14776         1532   2.0
14777         1245   2.0
14779         1464   3.0
14780         1269   2.0
14781         1400   2.0
14782         1160   2.0
14783         1290   2.0
14784         1160   2.0
14786          600   4.0
14788         1047   2.0
14789         1200   5.0
14790         1100   2.0
14792         1200   1.0
14794         4250   4.0
14795         1246   2.0
14796         1660   3.0
14797         1216   2.0
14798          996   2.0
14799         1150   2.0

[14122 rows x 2 columns]